    .body {
      font-family: Oswald, sans-serif;
      font-size: 20px;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
    }
    
    .header-text {
      position: absolute;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
    }
    
    .name {
      position: absolute;
      top: 0px;
      left: 5px;
      font-size: 20px;
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
      background: #fff;
    }

    .h1 {
      text-align: left;
      margin-bottom: 20px;
    }

    .h2 {
      text-align: left;
      margin-bottom: 20px;
    }

    .images {
      display: block; 
      margin-bottom: 20px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
    }

    .images img {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    
      .@media (min-width: 768px) {
        .images img {
          width: 100%;
          height: auto;
        }
